@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --background: rgb(188, 229, 243);
  --foreground: black;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(123, 123, 240);
    --foreground: black;
  }
}
 
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}
 
body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
a {
  color: inherit;
  text-decoration: none;
}
 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 
main {
  flex: 1;
}
 
.card-img-top {
  height: 300px;
  object-fit: cover;
}
 
footer {
  margin-top: auto;
}
 
 